.button__start,
.button__stop {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    left: 30%;
    margin: 1rem;
    padding: 0.5rem;
    position: absolute;
    text-transform: uppercase;
    top: 145%;
    transition: 0.5s;
    text-align: center;
    width: 10rem;
    z-index: 2020;
}

.button__stop {
    left: 60%;
}

@media (min-width: 641px) {

    .button__start,
    .button__stop {
        top: 100%
    }

    .button__stop {
        left: 60%;
    }

    .score {
        top: 100%;
    }
}

@media (min-width: 641px) {

    .button__start:hover,
    .button__stop:hover {
        animation: animate 8s linear infinite;
        background-position-x: 100%;
    }
}

@media (min-width: 641px) {

    .button__start:before,
    .button__stop:before {
        background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        bottom: -2px;
        border-radius: 2rem;
        content: "";
        left: -2px;
        opacity: 0;
        position: absolute;
        right: -2px;
        top: -2px;
        transition: 0.5s;
        z-index: -1;
    }
}

@media (min-width: 641px) {

    .button__start:hover:before,
    .button__stop:hover:before {
        animation: animate 8s linear infinite;
        filter: blur(1rem);
        opacity: 1;
    }
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}
